@media only screen and (max-width: 479px) {

    .sec-title h2 {
        font-size: 28px !important;
        line-height: 1.2em;
    }

}

@media only screen and (max-width: 599px) {
    .call-to-action .link-box a {
        width: 100%;
        text-align: center;
    }

    .call-to-action .link-box .icon {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {

    .call-to-action h2,
    .video-section .content-box .title-box h2 {
        font-size: 30px;
        line-height: 1.2em;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1023px) {

    .facilites-section .image-column .image-box {
        display: block;
        position: relative;
        width: 100%;
    }

    .facilites-section .image-column .layer-image {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .facilites-section .image-column .layer-image {
        left: 0;
    }
}

